<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="LeKiwi">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import LeKiwi urdf file -->
    <xacro:include filename="$(find lekiwi_description)/URDF/LeKiwi.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="LeKiwi.ros2_control.xacro" />


    <xacro:LeKiwi_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
