<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="LeKiwi_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="STS3215_03a-v1_Revolute-45">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STS3215_03a-v1_Revolute-45']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a-v1-1_Revolute-49">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STS3215_03a-v1-1_Revolute-49']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a-v1-2_Revolute-51">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STS3215_03a-v1-2_Revolute-51']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a-v1-3_Revolute-53">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STS3215_03a-v1-3_Revolute-53']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a_Wrist_Roll-v1_Revolute-55">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STS3215_03a_Wrist_Roll-v1_Revolute-55']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a-v1-4_Revolute-57">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STS3215_03a-v1-4_Revolute-57']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
