<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="lekiwi_system_hw">

    <ros2_control name="LeKiwiSystem" type="system">
      <hardware>

        <plugin>st3215_hardware_interface/ST3215System</plugin>


      <param name="port_name">/dev/ttyACM0</param>
        <param name="baud_rate">1000000</param>
      </hardware>


      <!-- ================= BASE WHEELS ================= -->

      <joint name="ST3215_Servo_Motor-v1-2_Revolute-60">
        <param name="id">1</param>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="ST3215_Servo_Motor-v1-1_Revolute-62">
        <param name="id">2</param>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="ST3215_Servo_Motor-v1_Revolute-64">
        <param name="id">3</param>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>


      <!-- ================= ARM JOINTS ================= -->

      <joint name="STS3215_03a-v1_Revolute-45">
        <param name="id">11</param>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="STS3215_03a-v1-1_Revolute-49">
        <param name="id">12</param>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="STS3215_03a-v1-2_Revolute-51">
        <param name="id">13</param>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="STS3215_03a-v1-3_Revolute-53">
        <param name="id">14</param>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="STS3215_03a_Wrist_Roll-v1_Revolute-55">
        <param name="id">15</param>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="STS3215_03a-v1-4_Revolute-57">
        <param name="id">16</param>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>